.iz-row
    box-sizing border-box
    margin 0 auto
    width 100%
    display flex
    flex 0 1 auto
    flex-direction row
    flex-wrap wrap
    &.reverse
        flex-direction row-reverse
    &.natural-height
        align-items flex-start
    &.flex-column
        flex-direction column
    &.start-xs
        justify-content flex-start
    &.center-xs
        justify-content center
    &.end-xs
        justify-content flex-end
    &.top-xs
        align-items flex-start
    &.middle-xs
        align-items center
    &.bottom-xs
        align-items flex-end
    &.around-xs
        justify-content space-around
    &.between-xs
        justify-content space-between
    &.show
        display flex !important
    &.show-xs
        display flex !important

.iz-col
    box-sizing border-box
    flex-grow 1
    flex-basis 0
    max-width 100%
    padding 1rem
    &.reverse
        flex-direction column-reverse

.first
    order -1

.last
    order 1

.align-start
    align-self flex-start

.align-end
    align-self flex-end

.align-center
    align-self center

.align-baseline
    align-self baseline

.align-stretch
    align-self stretch

.iz-xs
    box-sizing border-box
    flex-grow 1
    flex-basis 0
    max-width 100%
    padding 1rem

.iz-xs-1
    box-sizing border-box
    flex-basis 4.1666666667%
    max-width 4.1666666667%
    padding 1rem

.iz-xs-offset-1
    margin-left 4.1666666667%

.iz-xs-2
    box-sizing border-box
    flex-basis 8.3333333333%
    max-width 8.3333333333%
    padding 1rem

.iz-xs-offset-2
    margin-left 8.3333333333%

.iz-xs-3
    box-sizing border-box
    flex-basis 12.5%
    max-width 12.5%
    padding 1rem

.iz-xs-offset-3
    margin-left 12.5%

.iz-xs-4
    box-sizing border-box
    flex-basis 16.6666666667%
    max-width 16.6666666667%
    padding 1rem

.iz-xs-offset-4
    margin-left 16.6666666667%

.iz-xs-5
    box-sizing border-box
    flex-basis 20.8333333333%
    max-width 20.8333333333%
    padding 1rem

.iz-xs-offset-5
    margin-left 20.8333333333%

.iz-xs-6
    box-sizing border-box
    flex-basis 25%
    max-width 25%
    padding 1rem

.iz-xs-offset-6
    margin-left 25%

.iz-xs-7
    box-sizing border-box
    flex-basis 29.1666666667%
    max-width 29.1666666667%
    padding 1rem

.iz-xs-offset-7
    margin-left 29.1666666667%

.iz-xs-8
    box-sizing border-box
    flex-basis 33.3333333333%
    max-width 33.3333333333%
    padding 1rem

.iz-xs-offset-8
    margin-left 33.3333333333%

.iz-xs-9
    box-sizing border-box
    flex-basis 37.5%
    max-width 37.5%
    padding 1rem

.iz-xs-offset-9
    margin-left 37.5%

.iz-xs-10
    box-sizing border-box
    flex-basis 41.6666666667%
    max-width 41.6666666667%
    padding 1rem

.iz-xs-offset-10
    margin-left 41.6666666667%

.iz-xs-11
    box-sizing border-box
    flex-basis 45.8333333333%
    max-width 45.8333333333%
    padding 1rem

.iz-xs-offset-11
    margin-left 45.8333333333%

.iz-xs-12
    box-sizing border-box
    flex-basis 50%
    max-width 50%
    padding 1rem

.iz-xs-offset-12
    margin-left 50%

.iz-xs-13
    box-sizing border-box
    flex-basis 54.1666666667%
    max-width 54.1666666667%
    padding 1rem

.iz-xs-offset-13
    margin-left 54.1666666667%

.iz-xs-14
    box-sizing border-box
    flex-basis 58.3333333333%
    max-width 58.3333333333%
    padding 1rem

.iz-xs-offset-14
    margin-left 58.3333333333%

.iz-xs-15
    box-sizing border-box
    flex-basis 62.5%
    max-width 62.5%
    padding 1rem

.iz-xs-offset-15
    margin-left 62.5%

.iz-xs-16
    box-sizing border-box
    flex-basis 66.6666666667%
    max-width 66.6666666667%
    padding 1rem

.iz-xs-offset-16
    margin-left 66.6666666667%

.iz-xs-17
    box-sizing border-box
    flex-basis 70.8333333333%
    max-width 70.8333333333%
    padding 1rem

.iz-xs-offset-17
    margin-left 70.8333333333%

.iz-xs-18
    box-sizing border-box
    flex-basis 75%
    max-width 75%
    padding 1rem

.iz-xs-offset-18
    margin-left 75%

.iz-xs-19
    box-sizing border-box
    flex-basis 79.1666666667%
    max-width 79.1666666667%
    padding 1rem

.iz-xs-offset-19
    margin-left 79.1666666667%

.iz-xs-20
    box-sizing border-box
    flex-basis 83.3333333333%
    max-width 83.3333333333%
    padding 1rem

.iz-xs-offset-20
    margin-left 83.3333333333%

.iz-xs-21
    box-sizing border-box
    flex-basis 87.5%
    max-width 87.5%
    padding 1rem

.iz-xs-offset-21
    margin-left 87.5%

.iz-xs-22
    box-sizing border-box
    flex-basis 91.6666666667%
    max-width 91.6666666667%
    padding 1rem

.iz-xs-offset-22
    margin-left 91.6666666667%

.iz-xs-23
    box-sizing border-box
    flex-basis 95.8333333333%
    max-width 95.8333333333%
    padding 1rem

.iz-xs-offset-23
    margin-left 95.8333333333%

.iz-xs-24
    box-sizing border-box
    flex-basis 100%
    max-width 100%
    padding 1rem

.iz-xs-offset-24
    margin-left 100%

.first-xs
    order -1

.last-xs
    order 1

@media only screen and (min-width: 37rem)
    .iz-sm
        box-sizing border-box
        flex-grow 1
        flex-basis 0
        max-width 100%
        padding 1rem
    .iz-sm-1
        box-sizing border-box
        flex-basis 4.1666666667%
        max-width 4.1666666667%
        padding 1rem
    .iz-sm-offset-1
        margin-left 4.1666666667%
    .iz-sm-2
        box-sizing border-box
        flex-basis 8.3333333333%
        max-width 8.3333333333%
        padding 1rem
    .iz-sm-offset-2
        margin-left 8.3333333333%
    .iz-sm-3
        box-sizing border-box
        flex-basis 12.5%
        max-width 12.5%
        padding 1rem
    .iz-sm-offset-3
        margin-left 12.5%
    .iz-sm-4
        box-sizing border-box
        flex-basis 16.6666666667%
        max-width 16.6666666667%
        padding 1rem
    .iz-sm-offset-4
        margin-left 16.6666666667%
    .iz-sm-5
        box-sizing border-box
        flex-basis 20.8333333333%
        max-width 20.8333333333%
        padding 1rem
    .iz-sm-offset-5
        margin-left 20.8333333333%
    .iz-sm-6
        box-sizing border-box
        flex-basis 25%
        max-width 25%
        padding 1rem
    .iz-sm-offset-6
        margin-left 25%
    .iz-sm-7
        box-sizing border-box
        flex-basis 29.1666666667%
        max-width 29.1666666667%
        padding 1rem
    .iz-sm-offset-7
        margin-left 29.1666666667%
    .iz-sm-8
        box-sizing border-box
        flex-basis 33.3333333333%
        max-width 33.3333333333%
        padding 1rem
    .iz-sm-offset-8
        margin-left 33.3333333333%
    .iz-sm-9
        box-sizing border-box
        flex-basis 37.5%
        max-width 37.5%
        padding 1rem
    .iz-sm-offset-9
        margin-left 37.5%
    .iz-sm-10
        box-sizing border-box
        flex-basis 41.6666666667%
        max-width 41.6666666667%
        padding 1rem
    .iz-sm-offset-10
        margin-left 41.6666666667%
    .iz-sm-11
        box-sizing border-box
        flex-basis 45.8333333333%
        max-width 45.8333333333%
        padding 1rem
    .iz-sm-offset-11
        margin-left 45.8333333333%
    .iz-sm-12
        box-sizing border-box
        flex-basis 50%
        max-width 50%
        padding 1rem
    .iz-sm-offset-12
        margin-left 50%
    .iz-sm-13
        box-sizing border-box
        flex-basis 54.1666666667%
        max-width 54.1666666667%
        padding 1rem
    .iz-sm-offset-13
        margin-left 54.1666666667%
    .iz-sm-14
        box-sizing border-box
        flex-basis 58.3333333333%
        max-width 58.3333333333%
        padding 1rem
    .iz-sm-offset-14
        margin-left 58.3333333333%
    .iz-sm-15
        box-sizing border-box
        flex-basis 62.5%
        max-width 62.5%
        padding 1rem
    .iz-sm-offset-15
        margin-left 62.5%
    .iz-sm-16
        box-sizing border-box
        flex-basis 66.6666666667%
        max-width 66.6666666667%
        padding 1rem
    .iz-sm-offset-16
        margin-left 66.6666666667%
    .iz-sm-17
        box-sizing border-box
        flex-basis 70.8333333333%
        max-width 70.8333333333%
        padding 1rem
    .iz-sm-offset-17
        margin-left 70.8333333333%
    .iz-sm-18
        box-sizing border-box
        flex-basis 75%
        max-width 75%
        padding 1rem
    .iz-sm-offset-18
        margin-left 75%
    .iz-sm-19
        box-sizing border-box
        flex-basis 79.1666666667%
        max-width 79.1666666667%
        padding 1rem
    .iz-sm-offset-19
        margin-left 79.1666666667%
    .iz-sm-20
        box-sizing border-box
        flex-basis 83.3333333333%
        max-width 83.3333333333%
        padding 1rem
    .iz-sm-offset-20
        margin-left 83.3333333333%
    .iz-sm-21
        box-sizing border-box
        flex-basis 87.5%
        max-width 87.5%
        padding 1rem
    .iz-sm-offset-21
        margin-left 87.5%
    .iz-sm-22
        box-sizing border-box
        flex-basis 91.6666666667%
        max-width 91.6666666667%
        padding 1rem
    .iz-sm-offset-22
        margin-left 91.6666666667%
    .iz-sm-23
        box-sizing border-box
        flex-basis 95.8333333333%
        max-width 95.8333333333%
        padding 1rem
    .iz-sm-offset-23
        margin-left 95.8333333333%
    .iz-sm-24
        box-sizing border-box
        flex-basis 100%
        max-width 100%
        padding 1rem
    .iz-sm-offset-24
        margin-left 100%
    .iz-row
        &.start-sm
            justify-content flex-start
        &.center-sm
            justify-content center
        &.end-sm
            justify-content flex-end
        &.top-sm
            align-items flex-start
        &.middle-sm
            align-items center
        &.bottom-sm
            align-items flex-end
        &.around-sm
            justify-content space-around
        &.between-sm
            justify-content space-between
    .first-sm
        order -1
    .last-sm
        order 1

@media only screen and (min-width: 49rem)
    .iz-md
        box-sizing border-box
        flex-grow 1
        flex-basis 0
        max-width 100%
        padding 1rem
    .iz-md-1
        box-sizing border-box
        flex-basis 4.1666666667%
        max-width 4.1666666667%
        padding 1rem
    .iz-md-offset-1
        margin-left 4.1666666667%
    .iz-md-2
        box-sizing border-box
        flex-basis 8.3333333333%
        max-width 8.3333333333%
        padding 1rem
    .iz-md-offset-2
        margin-left 8.3333333333%
    .iz-md-3
        box-sizing border-box
        -ms-flex-preferred-size 12.5%
        flex-basis 12.5%
        max-width 12.5%
        padding 1rem
    .iz-md-offset-3
        margin-left 12.5%
    .iz-md-4
        box-sizing border-box
        flex-basis 16.6666666667%
        max-width 16.6666666667%
        padding 1rem
    .iz-md-offset-4
        margin-left 16.6666666667%
    .iz-md-5
        box-sizing border-box
        flex-basis 20.8333333333%
        max-width 20.8333333333%
        padding 1rem
    .iz-md-offset-5
        margin-left 20.8333333333%
    .iz-md-6
        box-sizing border-box
        flex-basis 25%
        max-width 25%
        padding 1rem
    .iz-md-offset-6
        margin-left 25%
    .iz-md-7
        box-sizing border-box
        flex-basis 29.1666666667%
        max-width 29.1666666667%
        padding 1rem
    .iz-md-offset-7
        margin-left 29.1666666667%
    .iz-md-8
        box-sizing border-box
        flex-basis 33.3333333333%
        max-width 33.3333333333%
        padding 1rem
    .iz-md-offset-8
        margin-left 33.3333333333%
    .iz-md-9
        box-sizing border-box
        flex-basis 37.5%
        max-width 37.5%
        padding 1rem
    .iz-md-offset-9
        margin-left 37.5%
    .iz-md-10
        box-sizing border-box
        flex-basis 41.6666666667%
        max-width 41.6666666667%
        padding 1rem
    .iz-md-offset-10
        margin-left 41.6666666667%
    .iz-md-11
        box-sizing border-box
        flex-basis 45.8333333333%
        max-width 45.8333333333%
        padding 1rem
    .iz-md-offset-11
        margin-left 45.8333333333%
    .iz-md-12
        box-sizing border-box
        flex-basis 50%
        max-width 50%
        padding 1rem
    .iz-md-offset-12
        margin-left 50%
    .iz-md-13
        box-sizing border-box
        -ms-flex-preferred-size 54.1666666667%
        flex-basis 54.1666666667%
        max-width 54.1666666667%
        padding 1rem
    .iz-md-offset-13
        margin-left 54.1666666667%
    .iz-md-14
        box-sizing border-box
        flex-basis 58.3333333333%
        max-width 58.3333333333%
        padding 1rem
    .iz-md-offset-14
        margin-left 58.3333333333%
    .iz-md-15
        box-sizing border-box
        flex-basis 62.5%
        max-width 62.5%
        padding 1rem
    .iz-md-offset-15
        margin-left 62.5%
    .iz-md-16
        box-sizing border-box
        flex-basis 66.6666666667%
        max-width 66.6666666667%
        padding 1rem
    .iz-md-offset-16
        margin-left 66.6666666667%
    .iz-md-17
        box-sizing border-box
        flex-basis 70.8333333333%
        max-width 70.8333333333%
        padding 1rem
    .iz-md-offset-17
        margin-left 70.8333333333%
    .iz-md-18
        box-sizing border-box
        flex-basis 75%
        max-width 75%
        padding 1rem
    .iz-md-offset-18
        margin-left 75%
    .iz-md-19
        box-sizing border-box
        flex-basis 79.1666666667%
        max-width 79.1666666667%
        padding 1rem
    .iz-md-offset-19
        margin-left 79.1666666667%
    .iz-md-20
        box-sizing border-box
        flex-basis 83.3333333333%
        max-width 83.3333333333%
        padding 1rem
    .iz-md-offset-20
        margin-left 83.3333333333%
    .iz-md-21
        box-sizing border-box
        flex-basis 87.5%
        max-width 87.5%
        padding 1rem
    .iz-md-offset-21
        margin-left 87.5%
    .iz-md-22
        box-sizing border-box
        flex-basis 91.6666666667%
        max-width 91.6666666667%
        padding 1rem
    .iz-md-offset-22
        margin-left 91.6666666667%
    .iz-md-23
        box-sizing border-box
        flex-basis 95.8333333333%
        max-width 95.8333333333%
        padding 1rem
    .iz-md-offset-23
        margin-left 95.8333333333%
    .iz-md-24
        box-sizing border-box
        flex-basis 100%
        max-width 100%
        padding 1rem
    .iz-md-offset-24
        margin-left 100%
    .iz-row
        &.start-md
            justify-content flex-start
        &.center-md
            justify-content center
        &.end-md
            justify-content flex-end
        &.top-md
            align-items flex-start
        &.middle-md
            align-items center
        &.bottom-md
            align-items flex-end
        &.around-md
            justify-content space-around
        &.between-md
            justify-content space-between
    .first-md
        order -1
    .last-md
        order 1

@media only screen and (min-width: 64rem)
    .iz-lg
        box-sizing border-box
        flex-grow 1
        flex-basis 0
        max-width 100%
        padding 1rem
    .iz-lg-1
        box-sizing border-box
        flex-basis 4.1666666667%
        max-width 4.1666666667%
        padding 1rem
    .iz-lg-offset-1
        margin-left 4.1666666667%
    .iz-lg-2
        box-sizing border-box
        flex-basis 8.3333333333%
        max-width 8.3333333333%
        padding 1rem
    .iz-lg-offset-2
        margin-left 8.3333333333%
    .iz-lg-3
        box-sizing border-box
        flex-basis 12.5%
        max-width 12.5%
        padding 1rem
    .iz-lg-offset-3
        margin-left 12.5%
    .iz-lg-4
        box-sizing border-box
        flex-basis 16.6666666667%
        max-width 16.6666666667%
        padding 1rem
    .iz-lg-offset-4
        margin-left 16.6666666667%
    .iz-lg-5
        box-sizing border-box
        flex-basis 20.8333333333%
        max-width 20.8333333333%
        padding 1rem
    .iz-lg-offset-5
        margin-left 20.8333333333%
    .iz-lg-6
        box-sizing border-box
        flex-basis 25%
        max-width 25%
        padding 1rem
    .iz-lg-offset-6
        margin-left 25%
    .iz-lg-7
        box-sizing border-box
        flex-basis 29.1666666667%
        max-width 29.1666666667%
        padding 1rem
    .iz-lg-offset-7
        margin-left 29.1666666667%
    .iz-lg-8
        box-sizing border-box
        flex-basis 33.3333333333%
        max-width 33.3333333333%
        padding 1rem
    .iz-lg-offset-8
        margin-left 33.3333333333%
    .iz-lg-9
        box-sizing border-box
        flex-basis 37.5%
        max-width 37.5%
        padding 1rem
    .iz-lg-offset-9
        margin-left 37.5%
    .iz-lg-10
        box-sizing border-box
        flex-basis 41.6666666667%
        max-width 41.6666666667%
        padding 1rem
    .iz-lg-offset-10
        margin-left 41.6666666667%
    .iz-lg-11
        box-sizing border-box
        flex-basis 45.8333333333%
        max-width 45.8333333333%
        padding 1rem
    .iz-lg-offset-11
        margin-left 45.8333333333%
    .iz-lg-12
        box-sizing border-box
        flex-basis 50%
        max-width 50%
        padding 1rem
    .iz-lg-offset-12
        margin-left 50%
    .iz-lg-13
        box-sizing border-box
        flex-basis 54.1666666667%
        max-width 54.1666666667%
        padding 1rem
    .iz-lg-offset-13
        margin-left 54.1666666667%
    .iz-lg-14
        box-sizing border-box
        flex-basis 58.3333333333%
        max-width 58.3333333333%
        padding 1rem
    .iz-lg-offset-14
        margin-left 58.3333333333%
    .iz-lg-15
        box-sizing border-box
        flex-basis 62.5%
        max-width 62.5%
        padding 1rem
    .iz-lg-offset-15
        margin-left 62.5%
    .iz-lg-16
        box-sizing border-box
        flex-basis 66.6666666667%
        max-width 66.6666666667%
        padding 1rem
    .iz-lg-offset-16
        margin-left 66.6666666667%
    .iz-lg-17
        box-sizing border-box
        flex-basis 70.8333333333%
        max-width 70.8333333333%
        padding 1rem
    .iz-lg-offset-17
        margin-left 70.8333333333%
    .iz-lg-18
        box-sizing border-box
        flex-basis 75%
        max-width 75%
        padding 1rem
    .iz-lg-offset-18
        margin-left 75%
    .iz-lg-19
        box-sizing border-box
        flex-basis 79.1666666667%
        max-width 79.1666666667%
        padding 1rem
    .iz-lg-offset-19
        margin-left 79.1666666667%
    .iz-lg-20
        box-sizing border-box
        flex-basis 83.3333333333%
        max-width 83.3333333333%
        padding 1rem
    .iz-lg-offset-20
        margin-left 83.3333333333%
    .iz-lg-21
        box-sizing border-box
        flex-basis 87.5%
        max-width 87.5%
        padding 1rem
    .iz-lg-offset-21
        margin-left 87.5%
    .iz-lg-22
        box-sizing border-box
        flex-basis 91.6666666667%
        max-width 91.6666666667%
        padding 1rem
    .iz-lg-offset-22
        margin-left 91.6666666667%
    .iz-lg-23
        box-sizing border-box
        flex-basis 95.8333333333%
        max-width 95.8333333333%
        padding 1rem
    .iz-lg-offset-23
        margin-left 95.8333333333%
    .iz-lg-24
        box-sizing border-box
        flex-basis 100%
        max-width 100%
        padding 1rem
    .iz-lg-offset-24
        margin-left 100%
    .iz-row
        &.start-lg
            justify-content flex-start
        &.center-lg
            justify-content center
        &.end-lg
            justify-content flex-end
        &.top-lg
            align-items flex-start
        &.middle-lg
            align-items center
        &.bottom-lg
            align-items flex-end
        &.around-lg
            justify-content space-around
        &.between-lg
            justify-content space-between
    .first-lg
        order -1
    .last-lg
        order 1

@media only screen and (min-width: 76rem)
    .iz-xl
        box-sizing border-box
        flex-grow 1
        flex-basis 0
        max-width 100%
        padding 1rem
    .iz-xl-1
        box-sizing border-box
        flex-basis 4.1666666667%
        max-width 4.1666666667%
        padding 1rem
    .iz-xl-offset-1
        margin-left 4.1666666667%
    .iz-xl-2
        box-sizing border-box
        flex-basis 8.3333333333%
        max-width 8.3333333333%
        padding 1rem
    .iz-xl-offset-2
        margin-left 8.3333333333%
    .iz-xl-3
        box-sizing border-box
        flex-basis 12.5%
        max-width 12.5%
        padding 1rem
    .iz-xl-offset-3
        margin-left 12.5%
    .iz-xl-4
        box-sizing border-box
        flex-basis 16.6666666667%
        max-width 16.6666666667%
        padding 1rem
    .iz-xl-offset-4
        margin-left 16.6666666667%
    .iz-xl-5
        box-sizing border-box
        flex-basis 20.8333333333%
        max-width 20.8333333333%
        padding 1rem
    .iz-xl-offset-5
        margin-left 20.8333333333%
    .iz-xl-6
        box-sizing border-box
        flex-basis 25%
        max-width 25%
        padding 1rem
    .iz-xl-offset-6
        margin-left 25%
    .iz-xl-7
        box-sizing border-box
        flex-basis 29.1666666667%
        max-width 29.1666666667%
        padding 1rem
    .iz-xl-offset-7
        margin-left 29.1666666667%
    .iz-xl-8
        box-sizing border-box
        flex-basis 33.3333333333%
        max-width 33.3333333333%
        padding 1rem
    .iz-xl-offset-8
        margin-left 33.3333333333%
    .iz-xl-9
        box-sizing border-box
        flex-basis 37.5%
        max-width 37.5%
        padding 1rem
    .iz-xl-offset-9
        margin-left 37.5%
    .iz-xl-10
        box-sizing border-box
        flex-basis 41.6666666667%
        max-width 41.6666666667%
        padding 1rem
    .iz-xl-offset-10
        margin-left 41.6666666667%
    .iz-xl-11
        box-sizing border-box
        flex-basis 45.8333333333%
        max-width 45.8333333333%
        padding 1rem
    .iz-xl-offset-11
        margin-left 45.8333333333%
    .iz-xl-12
        box-sizing border-box
        flex-basis 50%
        max-width 50%
        padding 1rem
    .iz-xl-offset-12
        margin-left 50%
    .iz-xl-13
        box-sizing border-box
        flex-basis 54.1666666667%
        max-width 54.1666666667%
        padding 1rem
    .iz-xl-offset-13
        margin-left 54.1666666667%
    .iz-xl-14
        box-sizing border-box
        flex-basis 58.3333333333%
        max-width 58.3333333333%
        padding 1rem
    .iz-xl-offset-14
        margin-left 58.3333333333%
    .iz-xl-15
        box-sizing border-box
        flex-basis 62.5%
        max-width 62.5%
        padding 1rem
    .iz-xl-offset-15
        margin-left 62.5%
    .iz-xl-16
        box-sizing border-box
        flex-basis 66.6666666667%
        max-width 66.6666666667%
        padding 1rem
    .iz-xl-offset-16
        margin-left 66.6666666667%
    .iz-xl-17
        box-sizing border-box
        flex-basis 70.8333333333%
        max-width 70.8333333333%
        padding 1rem
    .iz-xl-offset-17
        margin-left 70.8333333333%
    .iz-xl-18
        box-sizing border-box
        flex-basis 75%
        max-width 75%
        padding 1rem
    .iz-xl-offset-18
        margin-left 75%
    .iz-xl-19
        box-sizing border-box
        flex-basis 79.1666666667%
        max-width 79.1666666667%
        padding 1rem
    .iz-xl-offset-19
        margin-left 79.1666666667%
    .iz-xl-20
        box-sizing border-box
        flex-basis 83.3333333333%
        max-width 83.3333333333%
        padding 1rem
    .iz-xl-offset-20
        margin-left 83.3333333333%
    .iz-xl-21
        box-sizing border-box
        flex-basis 87.5%
        max-width 87.5%
        padding 1rem
    .iz-xl-offset-21
        margin-left 87.5%
    .iz-xl-22
        box-sizing border-box
        flex-basis 91.6666666667%
        max-width 91.6666666667%
        padding 1rem
    .iz-xl-offset-22
        margin-left 91.6666666667%
    .iz-xl-23
        box-sizing border-box
        flex-basis 95.8333333333%
        max-width 95.8333333333%
        padding 1rem
    .iz-xl-offset-23
        margin-left 95.8333333333%
    .iz-xl-24
        box-sizing border-box
        flex-basis 100%
        max-width 100%
        padding 1rem
    .iz-xl-offset-24
        margin-left 100%
    .iz-row
        &.start-xl
            justify-content flex-start
        &.center-xl
            justify-content center
        &.end-xl
            justify-content flex-end
        &.top-xl
            align-items flex-start
        &.middle-xl
            align-items center
        &.bottom-xl
            align-items flex-end
        &.around-xl
            justify-content space-around
        &.between-xl
            justify-content space-between
    .first-xl
        order -1
    .last-xl
        order 1

.iz-gutter-lr
    padding 0 1rem

.iz-no-gutter
    padding 0

.show
    display block !important

.hide
    display none !important

.show-xs
    display block !important

.hide-xs
    display none !important

@media only screen and (max-width: 36rem)
    .show-xs-only
        display block !important
    .iz-row
        &.show-xs-only
            display flex !important
    .hide-xs-only
        display none !important

@media only screen and (min-width: 37rem)
    .show-sm
        display block !important
    .iz-row
        &.show-sm
            display flex !important
    .hide-sm
        display none !important

@media only screen and (min-width: 37rem) and (max-width: 48rem)
    .show-sm-only
        display block !important
    .iz-row
        &.show-sm-only
            display flex !important
    .hide-sm-only
        display none !important

@media only screen and (min-width: 49rem)
    .show-md
        display block !important
    .iz-row
        &.show-md
            display flex !important
    .hide-md
        display none !important

@media only screen and (min-width: 49rem) and (max-width: 63rem)
    .show-md-only
        display block !important
    .iz-row
        &.show-md-only
            display flex !important
    .hide-md-only
        display none !important

@media only screen and (min-width: 64rem)
    .show-lg
        display block !important
    .iz-row
        &.show-lg
            display flex !important
    .hide-lg
        display none !important

@media only screen and (min-width: 64rem) and (max-width: 75rem)
    .show-lg-only
        display block !important
    .iz-row
        &.show-lg-only
            display flex !important
    .hide-lg-only
        display none !important

@media only screen and (min-width: 76rem)
    .show-xl
        display block !important
    .iz-row
        &.show-xl
            display flex !important
    .hide-xl
        display none !important
