@import './fonts'
@import './vars'
@import './mixins'
@import './normalize'

.iz-wrapper
    position relative
    width 100%
    height auto
    margin 0 auto
    padding 0

.iz-container
    min-width rem(containerMinWidth)
    max-width rem(containerMaxWidth)
    margin-right auto
    margin-left auto
    padding-left 1rem
    padding-right 1rem

.iz-container-mobile
    padding 0

@import './flexbox-grid'
@import './media'
