mainFont = ""
boldFont = ""
headerFont = ""
listFont = ""
supFont = ""

baseFontSize = 16
baseLineHeight = 1.15

primaryColor = #000000
bacgroundColor = #000000
accentColor = #000000
lightTextColor = #000000
primaryTextColor = #000000

containerMinWidth = 320px
containerMaxWidth = 1000px


